---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Aprende nuevas palabras">

    <section class="grid content-center min-h-screen min-w-full text-center center">
        <h1> EN CONSTRUCCION</h1>
    </section>
</Layout>